.minecraft/.mixin.out
.minecraft/backups/
.minecraft/config/
.minecraft/crash-reports/
.minecraft/littleframe_cache/gi
.minecraft/local/
.minecraft/localconfigs/
.minecraft/logs/
.minecraft/player_models/
.minecraft/resourcepacks/
.minecraft/saves/
.minecraft/screenshots/
.minecraft/server-resource-packs/
.minecraft/shaderpacks/
.minecraft/texturepacks/
.minecraft/openvr/

.minecraft/hs_err_pid*.log
.minecraft/optionsviveprofiles.txt
.minecraft/options.txt
.minecraft/realms_persistence.json
.minecraft/servers.dat*
.minecraft/usercache.json
.minecraft/usernamecache.json
