.minecraft/backups
.minecraft/config
.minecraft/crash-reports
.minecraft/local
.minecraft/localconfigs
.minecraft/logs
.minecraft/saves
.minecraft/options.txt
.minecraft/screenshots
.minecraft/schematics
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/servers.dat*
.minecraft/realms_persistence.json
.minecraft/resourcepacks
.minecraft/server-resource-packs
.minecraft/shaderpacks
.minecraft/texturepacks